:root {
	--c-bg: #fafaf5;
	--c-bg-green: #ddf5ea;
	--c-accent-dark: #065f46;
	--c-accent: rgb(22, 219, 153);
	--c-light: #dedede;
	--c-rule: #D2D2D2;
	--c-medium: #8B8B8B;
	--c-dark: #3C3C3C;
	--c-add-soft: #00880066;
	--c-add-strong: #008800;
	--c-remove-soft:#88000066;
	--c-remove-strong: #BB0000;
	--f-plain: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--banner-width: 600px;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100vw;
	max-width: max-content;
	text-align: center;
	font-family: smythe;
	color: var(--c-dark);
	background-color: var(--c-bg);
}
main {
	padding: 0 30px;
}

.banner {
	width: 100vw;
	max-width: max-content;
}

#product-menu {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	&.product {
		padding: 0.5rem 0;
	}
	&.checkout-item {
		padding: 0.2rem 0;
	}
	& > .img {
		font-family: inter;
		font-size: 4.92rem;
	}
	& > .details {
		display: flex;
		flex-direction: column;
		align-items: start;
		& > .ingredients {
			color: var(--c-medium);
			text-align: left;
		}
		& > .price {
			font-size: 1.5rem;
		}
	}
	.ingredients {
		color: var(--c-medium);
		text-align: left;
	}
	.price {
		font-size: 1.5rem;
	}
	& > .spacer {
		flex-grow: 1;
	}
}

button {
	&.primary {
		height: 3lh;
		@media (max-width: 400px) {
			height: 2lh;
		}
		aspect-ratio: 1/1;
		margin: 0.2rem;
		background: none;
		color: var(--c-dark);
		border: 1px solid var(--c-light);
		border-radius:50%;
	}
	&.accent {
		width: 100%;
		height: 3lh;
		margin-top: 2lh;
		border: none;
		border-radius: 2px;
		font-family: var(--f-plain);
		font-weight: bold;
		color: var(--c-bg);
		background-color: var(--c-accent);
		transition: all 60ms;
		&:hover, &:focus {
			border: 2px solid var(--c-accent);
			color: var(--c-accent);
			background: none;
		}
		&:focus {
			outline: 2px dashed var(--c-accent);
			outline-offset: 4px;
		}
		&:active {
			background-color: var(--c-bg-green);
			color: var(--c-bg);
			text-shadow: 0 0 2px color-mix(in srgb, var(--c-accent) 70%, black); 
		}
		&:disabled {
			background: repeating-linear-gradient(45deg,
				var(--c-accent), 
				var(--c-accent) 5%, 
				var(--c-bg-green) 5%, 
				var(--c-bg-green) 8.4%);
			border: none; 
			color: var(--c-accent-dark);
			text-shadow: none;
		}
	}	
	&.remove-simple {
		border: none;
		background: none;
		font-size: 0.75rem;
		color: var(--c-remove-soft);
		&:focus, &:hover {
			text-decoration: underline solid var(--c-remove-soft);
		}
		&:active {
			color: var(--c-remove-strong);
			text-decoration-color: var(--c-remove-strong);
		}
	}
	&.add {
		border-color: var(--c-add-soft);
		&:focus, &:hover{
			border-color: var(--c-add-strong);
		}
		&:active {
			font-weight: bold;
			color: var(--c-bg);
			background-color: var(--c-add-strong);
		}
		&:disabled {
			border-color: var(--c-rule);
			background-color: var(--c-bg);
			color: var(--c-rule);
			font-weight: normal;
		}
	}
	&.remove {
		border-color: var(--c-remove-soft);
		&:focus, &:hover {
			border-color: var(--c-remove-strong);
		}
		&:active {
			font-weight: bold;
			color: var(--c-bg);
			background-color: var(--c-remove-strong);
		}
	}
}

dialog {
	width: 90vw;
	max-width: var(--banner-width);
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	font-family: var(--f-plain);
	color: var(--c-dark);
	background-color: var(--c-bg);
	box-shadow: 0 0 5rem #0005;
	&::backdrop {
		backdrop-filter: blur(4px);
	}
}

form {
	text-align: left;
	& .accent {
		display: block;
		width: 90%;
		margin: 2lh auto 0.5lh;
	}
}

label {
	padding-left: 5.3%;
	font-size: 1rem;
}

input {
	display: block;
	box-sizing: border-box;
	background: none;
	border: 1px solid var(--c-rule);
	width: 90%;
	height: 2.5lh;
	margin: 0 auto 0.5lh;
	padding-left: 1em;
	font-family: var(--f-plain);
	&:invalid {
		border-left: 4px solid red;
	}
	&:valid {
		border-left: 4px solid var(--c-accent);
	}
	&:required:placeholder-shown{
		border-left: 4px solid orange;
	}
}

hr {
	width: 100%;
	&.slim {
		border: none;
		border-top: 1px solid var(--c-rule);
	}
	&.fat {
		border: 1px solid var(--c-dark);
	}
}

.name {
	font-size: 1.75rem;
	@media (max-width: 420px) {
		font-size: 1.25rem;
	}
}

.fake-header {
	margin: 1em;
	font-weight: bold;
	font-size: 1.5rem;
}

#checkout {
	position: sticky;
	bottom: 0;
	background-color: var(--c-bg);
	border-top: 1px solid var(--c-rule);
	padding: 1lh 0;
}

#order-complete {
	display: none;
	font-size: 2rem;
	color: var(--c-accent-dark);
	background-color: var(--c-bg-green);
	border-radius: 2px;
	padding: 1lh;
	margin: 1lh 0;
}